* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    position: relative;
}

img {
    position: absolute;
    left: 80px;
    top: 100px;
    width: 1000px;
    height: 500px;
    z-index: 3;

}

.logo a {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.navbar-nav li {
    display: inline-block;
    list-style-type: none;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 90px;
}

li a {
    text-decoration: none;
    color: black;
}

.menu_burger {
    display: none;
}



@media screen and (max-width:992px) {
    .navbar-nav {
        display: none;
    }

    .menu_burger {
        display: block;
    }
}

.header {
    height: 600px;
    position: relative;
    top: 280px;
    background-color: rgb(43, 23, 132);
    padding-top: 300px;
}

.titre {
    color: white;
    position: absolute;
    left: 80px;
    font-weight: bold;
    font-size: 50px;
}

.firsgrid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row: 100%;
    position: relative;
}

.firstPar {
    width: 600px;
    position: relative;
    top: 100px;
    color: white;
    left: 100px;
}

.firsPar {
    position: relative;
    width: 600px;
    position: relative;
    top: 130px;
    color: white;
    left: 100px;
}

button {
    width: 220px;
    height: 40px;
    border-radius: 10px;
    position: relative;
    top: 30px;
}

button a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
}

.SecondContainer {
    height: 100vh;
}

.sectdeux {
    font-size: 50px;
    position: absolute;
    top: 1000px;
    left: 280px;
}

.img {
    width: 90px;
    position: relative;
    top: 190px;
    left: 220px;


}

.secongrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    top: 90%;
    left: 60px;
}

h3 {
    text-align: center;
}

input {
    position: relative;
    top: 88%;
    left: 750px;
    background-color: blue;
    height: 45px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 200px;
}

.treecontainer {
    height: 700px;
    background-color: rgb(43, 23, 132);
}

.mlay {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    color: white;
    
}

.meet_titre {
    font-size: 50px;
    text-align: justify;
}

.fourthgrid{
    display: flex;
    position: absolute;
    left: 150px;

}

.cardsone{
    position:relative;
    top: 100px;
    background-color: white;
    border: 1ps solid white;
    width: 600px;
    height: 300px;
    margin: 20px;
    border-radius: 20px;
}

.sary{
    position: relative;
    bottom: 80px;
    right: 50px;
}

.sary img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: blanchedalmond;
}

.anarana{
    position: absolute;
    left: 280px;
    top: 130px;
    color:rgb(65, 68, 26) ;
}

.cardPar{
    position: absolute;
    top: 180px;
    left: 280px;
}
.svg_img{
    position: relative;
    display: flex;
    width: 150px;
    
}
.svg_img svg{
    display: flex;
    position: relative;
    left: 280px;
    top: 300px;
    margin: 10px;
}
.five_grid
{
    display: flex;
}

.fourthcontainer{
    position: relative;

}

.backgoudvide{
    position: relative;
    bottom:200px;
    right: -900px;
    width: 300px;
    height: 250px;
    background-color: rgb(43, 23, 132);
}

.sous_fiveG img{
    background-color:blanchedalmond ;
    position: relative;
    top: 120px;
    left: 300%;
    width: 270px;
    height: 400px;
    z-index: 3px;
}

.foot_grid{
    position: absolute;
    left: 250px;
    width: 600px;
    top: 150px;
}

.titre_fivegrid{
    font-weight: bold;
    font-size: 40px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.para_five-grid{
  text-align: justify;
}